body {
  background-color: #282828;
}

.greeting-text {
  color: #57565d;
}

.bottom-text,
.centered-text,
.greeting-text {
  text-align: center;
}

.bottom-text,
.centered-text {
  color: #4c53c2;
}


